.estructura {
    text-align: center;
    position: relative;
    top: 10px;
}
form {
    max-width: 800px;
    min-width: 400px;
    position: relative;
    display: inline-block;
}

fieldset {
    background-color: lightgray;
}
fieldset:hover {
    background-color: darkgrey;
}
button {
    background-color: black;
    border-style: none;
    color: white;
}

[required] {
    border-color: red;
}
fieldset:first-child {
    border-bottom: solid 5px black;
}

.last-child {
    border-bottom: solid 5px black;
}
